body {
	margin: 0 auto;
	font-family: "Tahoma", "Arial", sans-serif;
	line-height: 2;
	padding: 5em;
	text-align: center;
}

#indexlist {
	color: #961d1d;
}
a:link {
	color: #961d1d;
}
a:visited {
	color: lightcoral;
}
h1 {
	color: #961d1d;
	background-image: url("header.png");
	padding: 1em;
	background-position: center top;
	background-repeat: no-repeat;
}
ul {
  display:inline-block;
  text-align: left;
}