body {
	margin: 0 auto;
	font-family: "Tahoma", "Arial", sans-serif;
	line-height: 2;
	padding: 5em;
	text-align: center;
}

a:link {
	color: #A68890;
}
a:visited {
	color: #A68890;
}
h1 {
	color: #FBCDD9;
	background-image: url("header2.png");
	padding: 1em;
	background-position: center top;
	background-repeat: no-repeat;
}
#indexlist {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #033226;}

#indexlist li {
    float: left;
}

#indexlist li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#indexlist li a:hover {
    background-color: #A5B49E;
}

img {
	padding: 2em;
	float: none;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}